:root {
  --gutter: 20px;
  --color-white: #fff;
  --color-accent: #d4b254;
  --color-accent-active: #c8a74b;
  --color-title: #222;
  --color-body: #777;
  --line: rgba(255, 255, 255, 0.3);
}

.color-accent {
  color: var(--color-accent);
}

.hide {
  display: none !important;
}

.show-md {
  @media (min-width: 1080px) {
    display: flex !important;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
